/* src/index.css */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  background-color: #5dacdf;
  padding: 5px 10px;
  margin: 0 5px;
}
